<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
          <div class="w3-container l3 w3-text-grey w3-padding" >
            <% include partials/nav %>

                <div class="w3-row w3-grayscale">
                    <div class="w3-col l1">
                        <p></p>
                    </div>
                    <div class="w3-col l3">
                        <h2>Product from List</h2>						
                        <ul>
							<li>ID: <%= product.id %></li>
							<li>Product name: <%= product.name %></li>
							<li>Description: <%= product.description %></li>
							<li>Price: <%= product.price %></li>
							<a href="/product-delete/<%= product.id %>" class="w3-button w3-teal" >delete</a>
							<a href="/product-update/<%= product.id %>" class="w3-button w3-teal" >update</a>
                        </ul>

                    </div>
                    <div class="w3-col l3">
                        <h2>A List</h2>
                        <ul>

                        </ul>
                    </div>
                    <div class="w3-col l3">
                        <h2>Another thing here</h2>

                    </div>
                </div>
            <% include partials/footer %>
          </div>
  </body>
</html>