<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
          <div class="w3-container l3 w3-text-grey w3-padding" >
            <% include partials/nav %>

                <div class="w3-row w3-grayscale">
                    <div class="w3-col l1">
                        <p></p>
                    </div>
                    <div class="w3-col l3">
                        <h2>User List</h2>
						<% data.forEach(function(user){ %>
                        <ul>
							<li>ID: <%= user._id %></li>
							<li>Firstname: <%= user.firstname %></li>							
							<li>Lastname: <%= user.lastname %></li>
							<li>Admin status: <%= user.admin %></li>
							<a href="/user/<%= user._id %>" class="w3-button w3-teal" >show</a>
							<a href="/user-update/<%= user._id %>" class="w3-button w3-teal" >update</a>
							
							<% if(user.admin){ %>
							
							<a href="/user-delete/<%= user._id %>" class="w3-button w3-teal" >delete</a>
							<% }else { %>
							<a href="#" class="w3-button w3-teal" >can't delete</a>
							<% }; %>
                        </ul>
						<% }); %> 
                    </div>
                    <div class="w3-col l3">
                        <h2>A List</h2>
                        
                    </div>
                    <div class="w3-col l3">
                        <h2>Another thing here</h2>
						<a href="/user-add" class="w3-teal w3-button">Add user</a>
                    </div>
                </div>
            <% include partials/footer %>
          </div>
  </body>
</html>